name: CI

on:
  pull_request:
  push:
    branches:
      - 'main'
  schedule:
    # @weekly (Sunday)
    - cron: '0 0 * * 0'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - { crystal_major_minor: 1.4, crystal_full: 1.4.1 }
          - { crystal_major_minor: 1.3, crystal_full: 1.3.2 }
          - { crystal_major_minor: 1.2, crystal_full: 1.2.2 }

    name: >-
      Crystal ${{ matrix.crystal_full }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0

      - name: Docker Setup QEMU
        uses: docker/setup-qemu-action@v1.2.0

      - name: Docker Setup Buildx
        uses: docker/setup-buildx-action@v1.7.0

      - name: Docker GitHub Registry Login
        uses: docker/login-action@v1.14.1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker Metadata action
        id: meta
        uses: docker/metadata-action@v3.6.2
        with:
          flavor: |
            latest=false
          images: |
            ghcr.io/luislavena/hydrofoil-crystal
          tags: |
            type=raw,${{ matrix.crystal_full }}
            type=raw,${{ matrix.crystal_major_minor }}

      - name: Setup Docker BuildKit cache strategy
        uses: int128/docker-build-cache-config-action@v1.2.0
        id: cache
        with:
          image: ghcr.io/${{ github.repository }}/build-cache
          tag-prefix: crystal-${{ matrix.crystal_major_minor }}--

      - name: Build Docker images
        uses: docker/build-push-action@v2.10.0
        with:
          context: docker/${{ matrix.crystal_major_minor }}
          tags: local-image:ci
          load: true
          platforms: |
            linux/amd64
          pull: true
          cache-from: ${{ steps.cache.outputs.cache-from }}
          cache-to: ${{ steps.cache.outputs.cache-to }}

      - name: Install Goss
        uses: e1himself/goss-installation-action@v1.0.4
        with:
          version: 'v0.3.16'

      - name: Test Docker image
        run: dgoss run local-image:ci sleep infinity

      # FIXME: Use latest version of Dive
      # - name: Analyze image efficiency
      #   uses: yuichielectric/dive-action@0.0.4
      #   with:
      #     image: local-image:ci
      #     config-file: ${{ github.workspace }}/.dive-ci.yml

      - name: Push Docker images
        uses: docker/build-push-action@v2.10.0
        with:
          context: docker/${{ matrix.crystal_major_minor }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: |
            linux/amd64
          push: ${{ github.event_name != 'pull_request' }}
          cache-from: ${{ steps.cache.outputs.cache-from }}
          cache-to: ${{ steps.cache.outputs.cache-to }}
