name: CI

on:
  pull_request:
  push:
    branches:
      - 'main'
  schedule:
    # @weekly (Sunday)
    - cron: '0 0 * * 0'

jobs:
  crystal_1_2:
    name: Crystal 1.2.1
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0

      - name: Docker Setup QEMU
        uses: docker/setup-qemu-action@v1.2.0

      - name: Docker Setup Buildx
        uses: docker/setup-buildx-action@v1.6.0

      - name: Docker GitHub Registry Login
        uses: docker/login-action@v1.10.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Cache Docker layers
        uses: actions/cache@v2.1.6
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Docker Metadata action
        id: meta
        uses: docker/metadata-action@v3.6.0
        with:
          flavor: |
            latest=false
          images: |
            ghcr.io/luislavena/hydrofoil-crystal
          tags: |
            type=raw,1.2.1
            type=raw,1.2

      - name: Build Docker images
        uses: docker/build-push-action@v2.7.0
        with:
          context: docker/1.2
          tags: local-image:ci
          load: true
          platforms: |
            linux/amd64
          pull: true
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-stage-1,mode=max

      - name: Install Goss
        uses: e1himself/goss-installation-action@v1.0.3
        with:
          version: 'v0.3.16'

      - name: Test Docker image
        run: dgoss run local-image:ci sleep infinity

      - name: Container Security Scan
        uses: anchore/scan-action@v3.1.0
        id: scan
        with:
          image: local-image:ci
          fail-build: true
          acs-report-enable: true

      # TODO: Upload SARIF report (when made public)
      # - name: Upload Security Scan (SARIF) report
      #   uses: github/codeql-action/upload-sarif@v1
      #   with:
      #     sarif_file: ${{ steps.scan.outputs.sarif }}

      # FIXME: Use latest version of Dive
      # - name: Analyze image efficiency
      #   uses: yuichielectric/dive-action@0.0.4
      #   with:
      #     image: local-image:ci
      #     config-file: ${{ github.workspace }}/.dive-ci.yml

      - name: Push Docker images
        uses: docker/build-push-action@v2.7.0
        with:
          context: docker/1.2
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: |
            linux/amd64
          push: ${{ github.event_name != 'pull_request' }}
          cache-from: type=local,src=/tmp/.buildx-cache-stage-1
          cache-to: type=local,dest=/tmp/.buildx-cache-stage-2,mode=max

      # Temp fix
      # https://github.com/docker/build-push-action/issues/252
      # https://github.com/moby/buildkit/issues/1896
      - name: Cleanup Docker cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-stage-2 /tmp/.buildx-cache
